@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@100;200;300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@100;200;300;400;500&display=swap');
$mono: 'IBM Plex Mono',
monospace;
$sans: 'IBM Plex Sans',
sans-serif;
$color-nav: rgba(0,
0,
236,
1);
$color-principal:rgba(6,
10,
36,
1);
$bg-inclinado: linear-gradient(225deg,
#0000FF 0%,
#0000A3 100%);